<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <span class="section-title">Create Your Account</span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :username, required: true, label: 'Username', placeholder: 'required' %>
        <%= f.input :phone_number, required: false, label: 'Phone Number', placeholder: 'optional' %>
        <%= f.input :wechat_id, required: false, label: 'WeChat ID', placeholder: 'optional' %>
        <%= f.input :email, required: true, autofocus: false, label: 'Email', placeholder: 'required' %>
        <%= f.input :password, required: true, label: 'Password', placeholder: 'required' %>
        <%= f.input :password_confirmation, required: true, label: 'Confirm Password', placeholder: 'required' %>
        <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>