<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Content section -->
        <div class="row">
<!--           <div class="col-xs-2">
            Group Image
          </div> -->
          <div class="col-xs-12">
            <%= link_to group.name, group_path(group), class: "event-name" %><br>
            <%= group.info %><br>
            <%= group.users.size %> Users | <%= group.events.size %> Events | <%= group.proposals.size %> Proposals
          </div>
        </div>
        <hr>
        <!-- Action footer section -->
        <div class="row">
          <div class="col-xs-4">
          <!-- TODO Maybe user permission info here -->
          </div>
          <div class="col-xs-8 text-right">
	          <%= link_to "View Group", group_path(group), class:"btn btn-primary btn-sm" %>
          	<%= link_to "Edit Group", edit_group_path(group), class:"btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>