<% @title = @group.name %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <span class="section-title"><%= @group.name %></span>
        <p><%= @group.info %></p>
      </div>
    </div>

    <div class="row">
      <!-- Events section -->
      <div class="col-xs-12 col-md-6">
      <%= link_to group_events_path(@group) do %>
        <div class="panel panel-default text-center">
          <div class="panel-body">
             <%= @group.events.size %> Events
          </div>
        </div>
        <% end %>
      </div>

      <!-- Proposals section -->
      <div class="col-xs-12 col-md-6">
      <%= link_to group_proposals_path(@group) do %>
        <div class="panel panel-default text-center">
          <div class="panel-body">
             <%= @group.proposals.size %> Proposals
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>