<h1>Editing Attendee</h1>

<div class="row">
<div class="col s12 m6 offset-m3">
  <%= form_for(@attendee, url: event_attendee_path, method: :patch) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>

    <%= f.submit "Update Attendee", class: "btn waves-effect waves-light" %>
  <% end %>
</div>
</div>
<%= link_to 'Back', event_attendees_path(@event) %>
