<% @title = "Edit Attendee" %>

<div class="row">
	<div class="col s12 m6 offset-m3">
		<div class="card">
			<div class="card-content">
				<span class="card-title">Editing Attendee for <%= @event.name %></span>
				<%= form_for(@attendee, url: event_attendee_path, method: :patch) do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :phone_number %>
				<%= f.text_field :phone_number %>

				<%= f.submit "Update Attendee", class: "btn waves-effect waves-light" %>
				<% end %>
			</div>
		</div>
		<%= button_to 'Back', event_attendees_path(@event),  method: :get, class: "btn waves-effect waves-light" %>
	</div>
</div>