<p id="notice"><%= notice %></p>

<h1>People Attending</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Event</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.phone_number %></td>
        <td><%= attendee.event.name %></td>
        <td><%= attendee.event.user.username %></td>
        <td><%= link_to 'Edit', edit_event_attendee_path(@event, attendee) %></td>
        <td><%#= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New attendee', new_event_attendee_path %>
