<% @title = "Attendees for " + @event.name %>

<div class="panel panel-default">
  <div class="panel-body">
    Attendees for <%= @event.name %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
      <% @attendees.each do |attendee| %>
      <li class="list-group-item">
        <h3 class="list-group-item-heading"><%= attendee.name %></h3>
        <p class="list-group-item-text"><%= attendee.phone_number %></p>
        <p class="list-group-item-text"><%= link_to 'Edit', edit_attendee_path(attendee) %></p>
        <p class="list-group-item-text"><%#= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= button_to 'New attendee', new_event_attendee_path,  method: :get, class: "btn btn-success btn-block" %>