<% @title = "New Attendee" %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for [@event, @attendee] do |f| %>
      <%= f.error_notification %>
      <% if @attendee.errors.any? %>
      <ul>
        <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>

      <%= f.input :name, label: 'Attendee Name' %>
      <%= f.input :phone_number, label: 'Phone Number' %>

      <%= f.button :submit, 'Add Attendee', class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>