<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card hoverable">
      <div class="card-image">
        <%= link_to (image_tag event.image.url(:medium), class:'img-responsive'), event_path(event) %>
      </div>
      <div class="card-content">
      <%= fa_icon "calendar" %> <%= info_not_specified(event, event.date) %> <%= info_not_specified(event, event.event_time) %>
      <%= event.name %>
      <%= fa_icon "map-marker" %> <%= info_not_specified(event, event.location) %>
      <%= fa_icon "user" %> <%= link_to returns_event_owner(event.user_id).username, profile_path(returns_event_owner(event.user_id).username) %>
      </div>
      <div class="card-action">
        <%= link_to "Register", new_registration_path(event), id: "register_#{event.id}" %>
        <a href="#">Interested</a>
        <%= link_to "More Info", event_path(event) %>
      </div>
    </div>
  </div>
</div>