<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for [@group, @event], html: { multipart: true } do |f| %>
    <!-- Error Section -->
    <%= f.error_notification %>
    <% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

    <!-- Form Section -->
    <%= f.input :image, label: 'Add Cover Image', input_html: { onChange: 'loadFile(event)' }%>
    <%= f.input :group_id, collection: @groups, label_method: :name, label: "Select a group", selected: @event.group_id %>
    <%#= f.collection_select :group_id, Group.all, :id, :name, { prompt: "Choose a group" }, wrapper_html: { class: 'm8 s12 offset-m2' } %>
    <%= f.input :name, label: 'Add your event name', placeholder: false %>
    <%= f.input :link, label: 'Event Link', placeholder: false %>
    <%= f.input :location, label: 'Add your event location', placeholder: false %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :date, label: 'Date of event: '%>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :event_time, label: 'Time of event: ' %>
      </div>
    </div>
    <%= f.input :details, label: 'Add your event info (time, links)', placeholder: false %>
    <%= f.button :submit, class: 'btn btn-success btn-block'%>
    <% end %>
  </div>
</div>