<div class="events-wrapper">
  <div class="event">
    <div class="event-body">
      <div class="image-wrap">
	      <%= form_image_select(@event) %>
        <%= simple_form_for @event, html: { multipart: true } do |f| %>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= f.error_notification %>
                <% if @event.errors.any? %>
                  <h3>Error</h3>
                  <ul>
                      <% @event.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                  </ul>
                <% end %>
            </div>
          </div>
          <div class="container-fluid">
            <div class="form-group text-center">
              <h4>Upload cover image for your event:</h4>
              <%= f.input :image, label: false, input_html: { onChange: 'loadFile(event)' } %>
            </div>
            <div class="form-group text-center">
              <%= f.input :name, label: false, placeholder: 'Add your event name' %>
            </div>
            <div class="form-group text-center">
              <%= f.input :location, label: false, placeholder: 'Add your event location' %>
            </div>
            <div class="form-group text-center">
              <%= f.input :date, as: :date, start_year: Date.today.year, label: 'Date of event: ' %>
              <%= f.input :event_time, as: :time, label: 'Time of event: ' %>
            </div>
            <div class="form-group text-center">
              <%= f.input :details, label: false, placeholder: 'Add your event details' %>
            </div>
            <div class="form-group text-center">
              <%= f.button :submit, class: 'btn-success btn-block' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>