<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <span class="section-title">Login</span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :username, required: true, autofocus: true, label: 'Username', placeholder: 'username', input_html: { class: 'input-lg' } %>
        <%= f.input :password, required: true, label: 'Password', placeholder: 'Password', input_html: { class: 'input-lg' } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Log in", class: 'btn btn-primary btn-block' %>
      </div>
      <% end %>
    </div>
  </div>
</div>