<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <!-- Content section -->
        <div class="row">
          <div class="col-xs-2">
            <%= proposal.votes_for.size %> <%= fa_icon "heart" %>
          </div>
          <div class="col-xs-10">
            <span class="event-name"><%= proposal.name %></span><br>
            <%= proposal.info %><br>
          </div>
        </div>
        <hr>
        <!-- Action footer section -->
        <div class="row">
          <div class="col-xs-4">
            <%= fa_icon "user" %> <%= link_to proposal.user.username, profile_path(proposal.user.username) %>
          </div>
          <div class="col-xs-8 text-right">
            <% if user_signed_in? && current_user == proposal.user %>
              <%= link_to "Edit", edit_proposal_path(proposal), class:"btn btn-primary btn-sm" %>
            <% end %>
	            <%= link_to "Like", like_proposal_path(proposal), class:"btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>