<div class="navbar">
  <nav class="amber darken-1" role="navigation">
    <div class="nav-wrapper container">
      <div class="brand-logo hide-on-med-and-down">
        <%= link_to "LYVE微醺", root_path %>
      </div>
      <ul id="nav-mobile" class="right">
        <% if user_signed_in? %>
        <li>
          <%#= render 'notifications/notification_dropdown' %>
        </li>
        <li>
          <%#= link_to (fa_icon "heart-o"), group_proposals_path %>
        </li>
        <li>
          <%= link_to (fa_icon "calendar"), events_path %>
        </li>
        <li>
          <%= link_to (fa_icon "search"), browse_events_path %>
        </li>
        <li>
          <%= link_to (fa_icon "user") + " " + current_user.username.to_s, destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Register", new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>