<div class="navbar">
  <nav class="pink darken-3" role="navigation">
    <div class="nav-wrapper container">
      <div class="brand-logo">
        <%= link_to "LYVE微醺", root_path %>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <li>
          <%#= render 'notifications/notification_dropdown' %>
        </li>
        <li>
          <%= link_to "Explore", browse_events_path %>
        </li>
        <li>
          <%= link_to "Create Event", new_event_path %>
        </li>
        <li>
          <%= link_to "Logout (" + current_user.username.to_s + ")", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Register", new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>