<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
  </head>

  <!-- Display background image for splash page only -->
  <% if current_page?(root_path) %>
    <body class="welcome"> 
  <% else %>
    <body>
    <%= render "layouts/navbar" %>
  <% end %>

    <div class="container">
      <!-- TODO: Get this working // Flash Messages -->
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
      <% end %>

      <!-- Actual content for webapp -->
      <%= yield %>

      <!-- Action Button -->
      <%#= render 'layouts/fab' %>

    </div>
  </body>
</html>
